<html>
<body>
<form><p>
              <button class="btn btn-primary my-2" type="submit" style="width:150px"><a href="id">id</a></button>
            </p>
            </form>
<form><p>
              <button class="btn btn-primary my-2" type="submit" style="width:150px"><a href="home">name</a></button>
            </p>
            </form>
<form><p>
              <button class="btn btn-primary my-2" type="submit" style="width:150px"><a href="disease">disease</a></button>
            </p>
            </form>
<form><p>
              <button class="btn btn-primary my-2" type="submit" style="width:150px"><a href="age">age</a></button>
            </p>
            </form>
<form><p>
              <button class="btn btn-primary my-2" type="submit" style="width:150px"><a href="place">place</a></button>
            </p>
            </form>

</body>
</html>